@page "/estudiante"
@inject HttpClient Http

<PageTitle>Estudiante</PageTitle>

<h3>Estudiante</h3>

<button @onclick="ObtenerListaAlumnos">Obtener lista de alumnos</button>

@if (Estudiantes == null)
{
    //<p><em>Loading... </em></p>
}
else{ 
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>InstrumentoID</th>
                <th>RutaFoto</th>
                <th>Activo</th>
                <th>Nombre Tutor</th>
                <th>Teléfono Tutor</th>
                <th>Asegurado</th>
                <th>Documento Tutor</th>
                <th>Documento Tutor2</th>
                <th>Nombre Tutor2</th>
                <th>Teléfono Tutor2</th>
                <th>Nacionalidad</th>
                <th>Tmt_médico</th>
                <th>Ep_psico_motriz</th>
                <th>Particularidad</th>
                <th>Autoretiro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudiante in Estudiantes)
            {
                <tr>
                    <td>@estudiante.Nombre</td>
                    <td>@estudiante.Apellido</td>
                    <td>@estudiante.FechaNacimiento</td>
                    <td>@estudiante.Documento</td>
                    <td>@estudiante.Telefono</td>
                    <td>@estudiante.Direccion</td>
                    <td>@estudiante.Email</td>
                    <td>@estudiante.InstrumentoId</td>
                    <td>@estudiante.RutaFoto</td>
                    <td>@estudiante.Activo</td>
                    <td>@estudiante.NombreTutor</td>
                    <td>@estudiante.TelefonoTutor</td>
                    <td>@estudiante.Asegurado</td>
                    <td>@estudiante.DocumentoTutor</td>
                    <td>@estudiante.DocumentoTutor2</td>
                    <td>@estudiante.NombreTutor2</td>
                    <td>@estudiante.TelefonoTutor2</td>
                    <td>@estudiante.Nacionalidad</td>
                    <td>@estudiante.TmtMédico</td>
                    <td>@estudiante.EpPsicoMotriz</td>
                    <td>@estudiante.Particularidad</td>
                    <td>@estudiante.Autoretiro</td>
                </tr>
            }
        </tbody>
    </table>
    }


@code {
    private ICollection<BlazorAppOrquesta.Estudiante> Estudiantes;
    private BlazorAppOrquesta.OrquestaCñ orquestaClient = new OrquestaCñ("https://localhost:7182", new HttpClient());

    private async Task ObtenerListaAlumnos()
    {
        // Realiza la llamada HTTP para obtener la lista de alumnos
        Estudiantes = await orquestaClient.EstudiantesAsync();
    }


}
